* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#topnav {
  background-color: darkslategrey;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
}

#topnav .inner {
  display: flex;
}

.navbar {
  background-color: darkslategrey;
}

.navbar-collapse * a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.navbar-collapse * a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-collapse * a:focus {
  color: white;
  text-decoration: none;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.navbar-nav {
  justify-content: flex-end;
}

nav {
  overflow: hidden;
}

nav ul {
  width: 100%;
  padding-inline-start: 0;
  margin: 0 auto 0 auto;
  text-align: center;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
}


section #section-title {
  width: 50%;
  margin: 0 auto 10vh auto;
  text-align: center;;
}

section p {
  text-align: justify;
  text-justify: inter-word;
}

#about-me {
  width: 70vw;
  margin: 150px auto 0 auto;
  font-size: 1.5em;
}

#portfolio-display {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

/* .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */

/* .portfolio-container>* {
  width: 100%;
  height: 160px;
} */

/* .portfolio-container div {
  background-color: red;
} */


.portfolio-grid {
  height: 100%;
}

.portfolio-item a:hover img {
  opacity: 0.3;
}

.portfolio-item a:hover span
{
  opacity: 1;
}


.portfolio-item a
{
  position: relative;
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
}

.portfolio-item img {
  border: 2px none black;
  border-radius: 30px;
  max-width: 100%;
  height: auto;
  transition: 0.5s ease-out;
  opacity: 1;
  z-index: -100;
}

.item-hover {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2.0vw;
  font-style: oblique;
  text-shadow:
      1px 1px 0 #000,
      -1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
}

.portfolio-item-tchstk
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2.5% 0;
  width: 100%;
  height: fit-content;
}

.tchkstk-item
{
  background-color: rgb(229, 126, 126);
  border: 0.2vw solid rgb(229, 126, 126);
  border-radius: 15px;
  font-size: 1vw;
}

.tchstk-language
{
  background-color: rgb(107, 211, 224);
    border: 0.2vw solid rgb(107,
      211,
      224);
}
#contact-me {
  width: 70vw;
  margin: 0 auto 0 auto;
}

#contact-container {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  font-size: 1.2rem;
}

.contact-item {
  display: flex;
  width: 150px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

#footer {
  background-color: darkslategrey;
  margin-bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer h4 {
  color: #fff;
  margin: 0;
}


/* PORTFOLIO PAGE*/
#portfolio-title {
  width: 90vw;
  margin: 20vh auto 0 auto;
  text-align: center;
}

#portfolio-link {
  margin: 20px auto 0 auto;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}
#portfolio-link-content {
  margin: 0;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  padding: 2.5% 0;
}

#portfolio-video {
  /* width: 90vw; */
  width: 65vw;
  height: 50vh; 
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio-video iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

#portfolio-video h5 {
  margin: 30px 0 30px 0;
}

#portfolio-content {
  margin: 0 auto 0 auto;
  width: 90vw;
  height: auto;
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-content-text {
  font-size: 1.2em;
}

#portfolio-page-tchstk-h
{
  font-weight: 400;
  margin: 2vh 0 0 0;
}

#portfolio-work
{
  margin-top: 2.5vh;
}

.portfolio-page-item-tchstk
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 50vw;
  height: fit-content;
  margin: 0 auto 0 auto;
  padding-top: 1%;
}

.portfolio-page-tchkstk-item {
  background-color: rgb(229, 126, 126);
  border: 0.2vw solid rgb(229, 126, 126);
  border-radius: 15px;
  font-size: 1.5rem;
}

.portfolio-page-tchstk-language {
  background-color: rgb(107, 211, 224);
  border: 0.2vw solid rgb(107,
      211,
      224);
}

#portfolio-page-brief
{
  margin: 5vh 0 5vh 0;
}