* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#topnav {
  background-color: darkslategrey;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
}

#topnav .inner {
  display: flex;
}

.navbar {
  background-color: darkslategrey;
}

.navbar-collapse * a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.navbar-collapse * a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-collapse * a:focus {
  color: white;
  text-decoration: none;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.navbar-nav {
  justify-content: flex-end;
}

nav {
  overflow: hidden;
}

nav ul {
  width: 100%;
  padding-inline-start: 0;
  margin: 0 auto 0 auto;
  text-align: center;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  transition: 0.3s all;
}


section #section-title {
  width: 50%;
  margin: 0 auto 10vh auto;
  text-align: center;;
}

section p {
  text-align: justify;
  text-justify: inter-word;
}

#about-me {
  width: 70vw;
  margin: 150px auto 0 auto;
  font-size: 1.5em;
}

#portfolio-display {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

/* .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */

/* .portfolio-container>* {
  width: 100%;
  height: 160px;
} */

/* .portfolio-container div {
  background-color: red;
} */


.portfolio-grid {
  height: 100%;
}

.portfolio-item:hover img {
  opacity: 0.3;
}

.portfolio-item:hover div {
  opacity: 1;
}

.portfolio-item img {
  border: 2px none black;
  border-radius: 30px;
  max-width: 100%;
  height: auto;
  transition: 0.5s ease-out;
  opacity: 1;
}

.item-hover {
  transition: 0.5s ease-out;
  opacity: 0;
  width: 70%;
  margin: 0 auto 0 auto;
  color: white;
}

#contact-me {
  width: 70vw;
  margin: 0 auto 0 auto;
}

#contact-container {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  font-size: 1.2rem;
}

.contact-item {
  display: flex;
  width: 150px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

#footer {
  background-color: darkslategrey;
  margin-bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer h4 {
  color: #fff;
  margin: 0;
}


/* PORTFOLIO PAGE*/
#portfolio-title {
  width: 90vw;
  margin: 20vh auto 0 auto;
  text-align: center;
}

#portfolio-link {
  margin: 10vh auto 10vh auto;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

#portfolio-video {
  width: 90vw;
  height: 80vh;
  margin: 5vh auto 5vh auto;
  text-align: center;
}

#portfolio-video iframe {
  width: 70%;
  height: 80%;
}

#portfolio-video h5 {
  margin: 30px 0 30px 0;
}

#portfolio-content {
  margin: 30px auto 0 auto;
  width: 90vw;
}

.portfolio-content-text {
  font-size: 1.2em;
}